@font-face {
  font-family: "BrygadaRegular";

  src: url("../fonts/BrygadaRegular.woff") format("woff");
}

@font-face {
  font-family: "BrygadaItalic";

  src: url("../fonts/BrygadaItalic.woff") format("woff");
}

@font-face {
  font-family: "Madelyn";

  src: url("../fonts/Madelyn.woff") format("otf");
}
