@font-face {
  font-family: "Gill Sans";

  src: url("../fonts/GillSans.woff") format("woff");
}

@font-face {
  font-family: "Artegra Sans Extended SC";

  src: url("../fonts/ArtegraSansExtendedSC.woff") format("woff");
}

@font-face {
  font-family: "Neucha";

  src: url("../fonts/Neucha.woff") format("woff");
}
