@font-face {
  font-family: "GillSans";

  src: url("../fonts/GillSans.ttf") format("ttf");
}

@font-face {
  font-family: "Artegra Sans Extended SC";

  src: url("../fonts/ArtegraSansExtendedSC-Medium.otf") format("otf");
}
