@import "reset.css";
@import "fonts.css";
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: scroll;

  width: 100%;

  background-color: #F6F6F6;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

header {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

header img {
  width: 4.5em;
  height: 1.1em;
  padding-top: 1.4em;
  padding-left: 1.4em;
}

header p {
  width: 5.8em;
  margin-right: -1.4em;
  padding-top: 1.4em;

  text-align: right;

  color: #000;

  font-family: 'BrygadaRegular';
  font-size: 0.917em;

}

main {
  flex-direction: column;
}

.circle {
  position: absolute;

  width: 17em;
  height: 17em;
  margin-top: 8.1em;
  margin-left: 25%;

  animation: pulse 3s infinite;

  border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 2.5em 1.3em rgba(82, 85, 136, 80);
  }



  @-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 2.5em 1.3em rgba(82, 85, 136, 80);
  }
  50% {
      -webkit-box-shadow: 0 0 2.5em 1.9em rgba(82, 85, 136, 80);
  }
  100% {
      -webkit-box-shadow: 0 0 2.5em 1.3em rgba(82, 85, 136, 80);
  }
  }
  @keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 2.5em 1.3em rgba(82, 85, 136, 80);
    box-shadow: 0 0 2.5em 1.3em rgba(82, 85, 136, 80);
  }
  50% {
      -moz-box-shadow: 0 0 1.3em 1.9em rgba(82, 85, 136, 80);
      box-shadow: 0 0 2.5em 1.9em rgba(82, 85, 136, 80);
  }
  100% {
      -moz-box-shadow: 0 0 1.3em 1.3em rgba(82, 85, 136, 80);
      box-shadow: 0 0 2.5em 1.3em rgba(82, 85, 136, 80);
  }
}


.text {
  position: absolute;
  z-index: 99999;

  margin-top: 8.8em;
  padding-left: 12%;

  font-family: 'Madelyn';
  font-size: 1.5em;
  font-weight: lighter;
  font-variant: normal;
}

span {
  transition: all  ease-in-out;
  transition-duration: 0.5s;
  text-align: center;
}

span:hover{
  color: #fff;
}


.about {
  position: absolute;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 32em;
  margin-top: 34em;
}

.about img {
  z-index: 99999;

  width: 17em;
  height: 23em;
  margin-top: -4em;
  padding-left: 30%;

  order: 2;
}

.description {
  width: 100%;
  padding: 2.1em 1.6em 6.5em;

  color: #fff;
  background-color: rgba(98, 101, 157, 0.8);

  font-family: 'BrygadaRegular';
  font-size: 1.05em;
  font-weight: bold;
  line-height: 1.5em;

  order: 1;
}

.about p {
  font-size: 1em;
}

.about p:nth-child(2n){
  font-family: 'BrygadaItalic';
}

.about a {
  text-decoration: none;

  color: inherit;
  color: #1A1F68;

  font-size: 1.5em;
}


.button {
  display: flex;
  flex-direction: row;

  padding-top: 80.1em;
  padding-left: 15%;

  justify-content: center;
  align-items: center;
}

.button a {
  padding: 1.5em;

  transition: all  ease-in-out;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  background-color: rgba(98, 101, 157, 0.8);

  font-family: 'BrygadaRegular';
  font-size: 1.3em;
  font-variant: small-caps;
}

.button a:hover{
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(98, 101, 157, 0.6);
}


.promo {
  display: flex;
  flex-direction: row;

  width: 16.5em;
  padding-top: 10em;
  padding-left: 26%;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.promo p {
  width: 8.13em;
  padding-top: 1.5em;

  text-align: left;

  font-family: 'BrygadaItalic';
  font-size: 1em;
}

.box-box1 img {
  width: 6.13em;
  height: 8.75em;
}

.box-box2 img {
  width: inherit;
  height: 8.75em;
}


.box-box3 {
  padding-top: 4em;
  padding-right: 3em;
}

.box-box3 img {
  width: 11em;
}


footer {
  display: flex;
  flex-direction: row;

  margin-bottom: 1.4em;
  padding-top: 15em;
  padding-left: 10%;

  justify-content: center;
  align-items: center;

}

.vk {
  width: 2.2em;
  height: 2.3em;
  padding-right: 1.5em;
}

.inst {
  width: 1.3em;
  height: 1.3em;
}


@media screen and (min-width: 768px) {

  header img {
    width: 7.13em;
    height: 1.88em;
    padding-top: 1.75em;
    padding-left: 1.75em;
  }

  header p {
    width: 7.38em;
    margin-right: -1.75em;

    font-size: 1.5em;
  }

  .circle {
    width: 25.6em;
    height: 25.6em;
    margin-top: 21.1em;
    margin-left: 50%;

    animation: pulse 3s infinite;

    box-shadow: 0 0 3.5em 3.3em rgba(82, 85, 136, 80);
    }


    @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 3.5em 2.3em rgba(82, 85, 136, 80);
    }
    50% {
        -webkit-box-shadow: 0 0 3.5em 2.9em rgba(82, 85, 136, 80);
    }
    100% {
        -webkit-box-shadow: 0 0 3.5em 2.3em rgba(82, 85, 136, 80);
    }
    }
    @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 3.5em 2.3em rgba(82, 85, 136, 80);
      box-shadow: 0 0 3.5em 2.3em rgba(82, 85, 136, 80);
    }
    50% {
        -moz-box-shadow: 0 0 2.3em 2.9em rgba(82, 85, 136, 80);
        box-shadow: 0 0 3.5em 2.9em rgba(82, 85, 136, 80);
    }
    100% {
        -moz-box-shadow: 0 0 2.3em 2.3em rgba(82, 85, 136, 80);
        box-shadow: 0 0 3.5em 2.3em rgba(82, 85, 136, 80);
    }
  }


  .text {
    margin-top: 7.9em;
    padding-left: 5%;

    font-size: 3.3em;
  }


  .about {
    height: 42em;
    margin-top: 64em;
  }

  .about img {
    width: 24.8em;
    height: 42.1em;
    margin-top: -8em;
    padding-left: 50%;

    order: 2;
  }

  .description {
    padding: 1em 1.5em 4.5em;

    font-size: 2em;
    line-height: 1.7em;

    order: 1;
  }

  .about p {
    font-size: 1em;
  }

  .about a {
    font-size: 1.5em;
  }


  .button {
    padding-top: 148em;
  }

  .button a {
    padding: 1.5em;

    font-size: 2.3em;
  }


  .promo {
    width: 30em;
    padding-top: 20em;
    padding-left: 27%;

    justify-content: space-between;
  }

  .promo p {
    width: 10.13em;
    padding-top: 2em;

    font-size: 1.4em;
  }

  .box-box1 img {
    width: 9.06em;
    height: 14.8em;
  }

  .box-box2 img {
    width: inherit;
    height: 14.8em;
    padding-left: 3em;
  }

  .box-box3 {
    padding-top: 10em;
    padding-left: 5em;
  }

  .box-box3 img {
    width: 17em;
  }


  footer {
    margin-bottom: 1.75em;
    padding-top: 30em;

  }

  .vk {
    width: 3.2em;
    height: 3.3em;
    padding-right: 2.5em;
  }

  .inst {
    width: 2.3em;
    height: 2.3em;
  }
}



@media screen and (min-width: 1024px) {


  header img {
      width: 12rem;
      height: 3rem;
      padding-top: 2rem;
      padding-left: 2rem;
    }

    header p {
      width: 9.38rem;
      padding-top: 2rem;
      padding-right: 2rem;

      text-align: right;

      font-family: 'BrygadaRegular';
      font-size: 1.67rem;
    }

    .circle {
      position: absolute;

      width: 32.8em;
      height: 33.4em;
      margin-top: 21rem;
      margin-left: 45%;

      animation: pulse 4s infinite;

      border-radius: 50%;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0 0 2.5rem 1.25rem rgba(82, 85, 136, 80);
    }



    @-webkit-keyframes pulse {
      0% {
        -webkit-box-shadow: 0 0 2.5rem 1.25rem rgba(82, 85, 136, 80);
      }
      50% {
          -webkit-box-shadow: 0 0 2.5rem 2.19rem rgba(82, 85, 136, 80);
      }
      100% {
          -webkit-box-shadow: 0 0 2.5rem 1.25rem rgba(82, 85, 136, 80);
      }
    }
    @keyframes pulse {
      0% {
        -moz-box-shadow: 0 0 2.5rem 1.25rem rgba(82, 85, 136, 80);
        box-shadow: 0 0 2.5rem 1.25rem rgba(82, 85, 136, 80);
      }
      50% {
          -moz-box-shadow: 0 0 2.5rem 2.19rem rgba(82, 85, 136, 80);
          box-shadow: 0 0 2.5rem 2.19rem rgba(82, 85, 136, 80);
      }
      100% {
          -moz-box-shadow: 0 0 2.5rem 1.25rem rgba(82, 85, 136, 80);
          box-shadow: 0 0 2.5rem 1.25rem rgba(82, 85, 136, 80);
      }
    }

    .text {
      position: absolute;
      z-index: 999999;

      width: 51.2rem;
      margin-top: 31.4rem;
      padding-left: 10%;

      font-family: 'Madelyn';
      font-size: 3.25rem;
    }

    span {
      transition: all  ease-in-out;
      transition-duration: 0.5s;
      text-align: center;
    }

    span:hover{
      color: #fff;
    }

    .about {
      position: absolute;

      display: flex;
      flex-direction: row;

      height: 3.25rem;
      padding-top: 21rem;
    }

    .about img {
      width: 21.7em;
      height: 32.6em;
      padding-left: 3rem;

      order: 1;
    }

    .description {
      padding: 2rem 2rem 18rem;

      font-size: 1.7rem;
      line-height: 2.6rem;

      order: 2;
    }


    .about p {
      font-size: 1em;
    }

    .about a {
      font-size: 1.5em;
    }


    .button {
      display: flex;

      padding-top: 134em;
      padding-right: 10%;

      justify-content: center;
    }

    .button a {
      padding: 1.5em;

      font-size: 2.3em;
    }


    .promo {
      display: flex;

      width: 50em;
      padding-top: 20em;
      padding-left: 20%;

      justify-content: center;
    }

    .promo p {
      width: 10.13em;
      padding-top: 2em;

      font-size: 2em;
    }

    .box-box1 img {
      width: 10.06em;
      height: 16.8em;

    }

    .box-box2 img {
      width: inherit;
      height: 16.8em;
      padding-left: 2em;
    }

    .box-box3 {
      padding-top: 13em;
      padding-right: 11em;
    }

    .box-box3 img {
      width: 19em;
    }


    footer {
      margin-bottom: 2em;
      padding-top: 30em;

    }

    .vk {
      width: 4.2em;
      height: 4.2em;
      padding-right: 3.5em;
    }

    .inst {
      width: 3.3em;
      height: 3.3em;
    }
  }



@media screen and (min-width: 1440px) {

  header img {
    width: 14em;
    height: 3.5em;
    padding-top: 2.5em;
    padding-left: 2.5em;
  }

  header p {
    width: 9.38rem;
    padding-top: 2.5rem;
    padding-right: 2.5rem;

    text-align: right;

    font-family: 'BrygadaRegular';
    font-size: 2rem;
  }

  .circle {
    position: absolute;

    width: 36.8em;
    height: 37.4em;
    margin-top: 8rem;
    margin-left: 55%;

    animation: pulse 4s infinite;

    border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 2.5rem 1.25rem rgba(82, 85, 136, 80);
  }



  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 2.5rem 1.25rem rgba(82, 85, 136, 80);
    }
    50% {
        -webkit-box-shadow: 0 0 2.5rem 2.19rem rgba(82, 85, 136, 80);
    }
    100% {
        -webkit-box-shadow: 0 0 2.5rem 1.25rem rgba(82, 85, 136, 80);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 2.5rem 1.25rem rgba(82, 85, 136, 80);
      box-shadow: 0 0 2.5rem 1.25rem rgba(82, 85, 136, 80);
    }
    50% {
        -moz-box-shadow: 0 0 2.5rem 2.19rem rgba(82, 85, 136, 80);
        box-shadow: 0 0 2.5rem 2.19rem rgba(82, 85, 136, 80);
    }
    100% {
        -moz-box-shadow: 0 0 2.5rem 1.25rem rgba(82, 85, 136, 80);
        box-shadow: 0 0 2.5rem 1.25rem rgba(82, 85, 136, 80);
    }
  }

  .text {
    width: 75.2rem;
    margin-top: 17.6rem;
    padding-left: 9%;

    font-family: 'Madelyn';
    font-size: 5rem;
  }


  .about {
    position: absolute;

    display: flex;
    flex-direction: row;

    height: 3.25rem;
    padding-top: 13rem;
  }

  .about img {
    width: 26.9em;
    height: 40.5em;
    padding-left: 3rem;

    order: 1;
  }

  .description {
    padding: 2.5rem 2.5rem 27.5rem;

    font-size: 2.5rem;
    line-height: 4rem;

    order: 2;
  }


  .about p {
    font-size: 1em;
  }

  .about a {
    font-size: 1.5em;
  }


  .button {
    display: flex;

    padding-top: 134em;
    padding-right: 10%;

    justify-content: center;
  }

  .button a {
    padding: 2em;

    font-size: 2.2em;
  }


  .promo {
    display: flex;

    width: 50em;
    padding-top: 20em;
    padding-left: 28%;

    justify-content: center;
  }

  .promo p {
    width: 10.13em;
    padding-top: 2em;

    font-size: 2em;
    line-height: 1.5em;
  }

  .box-box1 img {
    width: 10.06em;
    height: 16.8em;

  }

  .box-box2 img {
    width: inherit;
    height: 16.8em;
    padding-left: 2em;
  }

  .box-box3 {
    padding-top: 13em;
    padding-right: 11em;
  }

  .box-box3 img {
    width: 19em;
  }


  footer {
    margin-bottom: 2em;
    padding-top: 30em;
    padding-left: 2em;
  }

  .vk {
    width: 4.2em;
    height: 4.2em;
    padding-right: 3.5em;
  }

  .inst {
    width: 3.3em;
    height: 3.3em;
  }

}
