@import "reset.css";
@import "fonts.css";
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;

  background-color: #F6F6F6;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

header {
  display: flex;
  flex-direction: row;

  margin-top: 23px;
}

header img {
  width: 72px;
  height: 18px;
  padding-left: 23px;
}

header p {
  width: 93px;
  padding-left: 210px;

  text-align: right;

  color: #000;

  font-family: 'Artegra Sans Extended SC';
  font-size: 10pt;
}

main {
  flex-direction: column;
}

.circle {
  position: absolute;

  width: 271px;
  height: 275px;
  margin-top: 129px;
  margin-left: 103px;
  background: #fff;
  border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 0 40px 20px rgba(82, 85, 136, 80);
}

.text {
  position: absolute;
  z-index: 99999;

  width: 380px;
  margin-top: 223px;
  padding-left: 23px;

  font-family: 'Gill Sans';
  font-size: 12pt;
  font-weight: 600;
  font-variant: small-caps;
}

span {
  transition: all  ease-in-out;
  text-align: center;
  transition-duration: 0.5s;
}

span:hover{
  color: #fff;
}

.about {
  position: absolute;

  display: flex;
  flex-direction: column;

  height: 517px;
  margin-top: 550px;
}

.about img {
  width: 180px;
  height: 270px;
  padding-top: 103px;
  padding-left: 118px;
  order: 2;
}

.description {
  width: 100%;
  padding: 33px 25px;

  color: #fff;
  background-color: rgba(98, 101, 157, 0.8);

  font-family: 'Lato';
  font-weight: bold;
  order: 1;
}

.about p {
  font-size: 16px;
}

.about p:nth-child(3){
  padding-bottom: 25px;
}

.about a {
  font-size: 24px;
  text-decoration: none;
  color: inherit;
  color: #1A1F68;
}

.button {
  position: absolute;

  display: flex;

  padding-top: 1190px;
  margin-left: 61px;

}

.button a {
  padding: 24px;

  transition: all  ease-in-out;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #000;
  background-color: rgba(255, 255, 255, 0.8);

  font-family: 'Artegra Sans Extended SC';
  font-size: 16pt;
  font-variant: small-caps;
}

.button a:hover{
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.6);
}


footer {
  display: flex;
  flex-direction: row;

  height: 43px;
  margin-top: 1300px;
  padding-left: 148px;

  align-items: center;
}

.vk {
  width: 35px;
  height: 20px;
  padding-right: 24px;
}

.inst {
  width: 20px;
  height: 20px;
}



@media screen and (min-width: 1024px) {

  header img {
    width: 185px;
    height: 48px;
    padding-top: 32px;
    padding-left: 32px;
  }

  header p {
    width: 150px;
    padding-top: 32px;
    padding-left: 634px;

    text-align: right;

    font-family: 'Artegra Sans Extended SC';
    font-size: 20pt;
  }

  .circle {
    position: absolute;

    width: 685px;
    height: 694px;
    margin-top: 336px;
    margin-left: 287px;
    background: #fff;
    border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 40px 20px rgba(82, 85, 136, 80);
  }

  .text {
    position: absolute;
    z-index: 999999;

    width: 819px;
    margin-top: 615px;
    padding-left: 32px;

    font-family: 'Gill Sans';
    font-size: 27pt;
    font-weight: 600;
    font-variant: small-caps;
  }

  span {
    transition: all  ease-in-out;
    text-align: center;
    transition-duration: 0.5s;
  }

  span:hover{
    color: #fff;
  }

  .about {
    position: absolute;

    display: flex;
    flex-direction: row;

    height: 52px;
    margin-top: 1137px;
  }

  .about img {
    width: 347px;
    height: 521px;
    padding-left: 32px;
    order: 1;
  }

  .description {
    order: 2;
    height: 230px;
    padding: 40px;
    margin-top: 245px;

    color: #fff;
    background-color: rgba(98, 101, 157, 0.8);

    font-family: 'Lato';
    font-weight: bold;
  }

  .about p {
    font-size: 24pt;
  }

  .about p:nth-child(3){
    padding-bottom: 34px;
  }

  .about a {
    font-size: 32pt;
    text-decoration: none;
    color: #1A1F68;
  }

  .button {
    position: absolute;

    display: flex;

    margin-top: 870px;
    margin-left: 264px;
  }


  .button a {
    padding: 50px 33px 50px;

    transition: all .2s ease-in-out;
    text-decoration: none;
    text-transform: uppercase;

    color: #000;
    background-color: rgba(255, 255, 255, 0.8);

    font-family: 'Artegra Sans Extended SC';
    font-size: 28pt;
    font-variant: small-caps;
  }

  .button a:hover{
    color: rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.6);
  }


  footer {
    display: flex;
    flex-direction: row;

    height: 90px;
    margin-top: 2504px;
    padding-left: 455px;

    align-items: flex-start;
  }

  .vk {
    width: 52px;
    height: 30px;
    padding-bottom: 76px;
  }

  .inst {
    width: 44px;
    height: 44px;
    padding-bottom: 32px;
    padding-left: 16px;
  }





@media screen and (min-width: 1440px) {

  header img {
    width: 192px;
    height: 48px;
    padding-top: 38px;
    padding-left: 38px;
  }

  header p {
    width: 157px;
    padding-top: 38px;
    padding-left: 999px;

    text-align: right;

    font-family: 'Artegra Sans Extended SC';
    font-size: 20pt;
  }

.circle {
    position: absolute;
    z-index: 8888;
    width: 703px;
    height: 697px;
    margin-top: 103px;
    margin-left: 668px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 40px 20px rgba(82, 85, 136, 80);
  }

  .text {
    position: absolute;
    z-index: 999999;

    width: 1127px;
    margin-top: 316px;
    padding-left: 75px;

    font-family: 'Gill Sans';
    font-size: 34pt;
    font-weight: 600;
    font-variant: small-caps;
  }

  span {
    transition: all  ease-in-out;
    text-align: center;
    transition-duration: 0.5s;
  }

  span:hover{
    color: #fff;
  }

  .about {
    position: absolute;

    display: flex;
    flex-direction: row;

    height: 521px;
    margin-top: 907px;
  }

  .about img {
    width: 527px;
    height: 792px;
    padding-left: 75px;
    order: 1;
  }

  .description {
    order: 2;
    padding: 41px 78px;
    margin-top: 275px;

    color: #fff;
    background-color: rgba(98, 101, 157, 0.8);

    font-family: 'Artegra Sans Extended SC';


  }

  .about p {
    font-size: 34px;
    font-style: normal;
    text-align: left;
  }

  .about p:nth-child(3){
    padding-bottom: 42px;
  }

  .about a {
    font-size: 40pt;
    text-decoration: none;
    color: #1A1F68;
    text-align: left;
    font-style: normal;
  }

  h2 {
    font-size: 28px;
    text-align: right;
    font-style: italic;
  }

  .button {
    position: absolute;

    display: flex;

    margin-top: 885px;
    margin-left: 437px;

  }

  .button a {
    padding: 50px 33px 50px;

    transition: all .2s ease-in-out;
    text-decoration: none;
    text-transform: uppercase;

    color: #000;
    background-color: rgba(255, 255, 255, 0.8);

    font-family: 'Artegra Sans Extended SC';
    font-size: 32pt;
    font-variant: small-caps;
  }

  .button a:hover{
    color: rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.6);
  }

  footer {
    display: flex;
    flex-direction: row;

    height: 93px;
    margin-top: 2541px;
    padding-left: 45%;

    align-items: flex-start;
  }

  .vk {
    width: 56px;
    height: 48px;
    padding-bottom: 38px;
  }

  .inst {
    width: 44px;
    height: 44px;
    padding-bottom: 38px;
    padding-left: 10px;
  }

}
